.article{
    padding-bottom: 75px;
    text-align: center;
    &--contact{
        padding-bottom: 40px;
    }
}
.article__title{
    font-size: 2.5em;
    color: #222;
    font-weight: 300;
    display: inline-block;
    margin: 0 auto 55px auto;
    position: relative;
    &:before,
    &:after{
        position: absolute;
        content: "";
        left: -10px;
        bottom: 0px;
        width: 2px;
        height: 19px;
        background: #BF1134;
    }
    &:after{
        left: -8px;
        bottom: 0px;
        width: 19px;
        height: 2px;
    }
}
.article__content{
    width: 980px;
    margin: 0 auto;
    padding-bottom: 35px;
    position: relative;
    text-align: left;
    color: #333;
    line-height: 1.5;
    &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0; right: 0;
        margin: 0 auto;
        width: 100%;
        height: 1px;
        background-color: #A60A2D;
    }
    &--contact{
        &:after{
            width: 0;
            height: 0;
        }
    }
    @media (max-width: 980px) {
        width: 768px;
    }
    @media (max-width: 768px) {
        width: 640px;
    }
    @media (max-width: 640px) {
        width: 100%;
        padding: 0 20px 35px 20px;
        &:after{
            width: 95%;
        }
    }
}
.article__url{
    color: #A60A2D;
    text-decoration: none;
    &:hover,
    &:focus{
        text-decoration: underline;
    }
}
