.contact {
    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        width: 760px;
        margin: 0 auto;
        @media (max-width: 768px){
            width: 100%;
            padding: 0 20px;
        }
        @media (max-width: 640px){
            width: 100%;
            padding: 0;
        }
    }
    &__info{
        display: none;
        min-width: 300px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 0 6px #444444;
        border-radius: 3px;
        outline: 0;

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10002;
        
        &--visible{
            display: block;
        }
    }
}
.form{
    &__row{
        width: 370px;
        margin-bottom: 20px;
        position: relative;
        &--msg{
            width: 100%;
            .form__input {
                max-width: 100%;
                min-width: 100%;
            }
        }
        &--required{
            &:after{
                content: '*';
                position: absolute;
                left: 5px;
                top: 5px;
                color: #A60A2D;
                font-size: 1.05em;
                line-height: 1;
            }
        }
        @media (max-width: 768px){
            width: 100%;
        }
    }
    &__input{
        border: 0;
        padding: 15px 20px;
        background-color: #E0E0E0;
        color: #666;
        font: 300 1.4em 'Open Sans';
        outline: 1px solid #EEEEEE;
        transition: outline-color .2s ease-in-out;
        width: 100%;
        &:hover,
        &:focus{
            outline-color: #888888;
        }
        &::-webkit-input-placeholder {
          color: #888888;
        }
        &::-moz-placeholder {
          color: #888888;
        }
        &:-ms-input-placeholder {
          color: #888888;
        }
        &:-moz-placeholder {
          color: #888888;
        }
        &:-moz-submit-invalid {
          box-shadow: none;
          outline-color: #A60A2D;
        }
        &:-moz-ui-invalid {
          box-shadow:none;
          outline-color: #A60A2D;
        }
    }
    &__sendbtn{
        margin: 0 auto;
        width: 370px;
        border: 0;
        padding: 10px 0;
        background-color: #A60A2D;
        color: #fff;
        text-transform: uppercase;
        font: 300 1.4em 'Open Sans';
        border: 2px solid #A60A2D;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        &:hover,
        &:focus{
            cursor: pointer;
            background-color: #F5F5F5;
            color: #A60A2D;
        }
        &::-moz-focus-inner{
            border: 0;
        }
        @media (max-width: 640px){
            width: 100%;
        }
    }
}

.form__sendbtn{
    margin: 0 auto;
    width: 370px;
    border: 0;
    padding: 10px 0;
    background-color: #A60A2D;
    color: #fff;
    text-transform: uppercase;
    font: 300 1.4em 'Open Sans';
    border: 2px solid #A60A2D;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    &:hover,
    &:focus{
        cursor: pointer;
        background-color: #F5F5F5;
        color: #A60A2D;
    }
    &::-moz-focus-inner{
        border: 0;
    }
}
//::-webkit-input-placeholder {
//  color: #888888;
//}
//::-moz-placeholder {
//  color: #888888;
//}
//:-ms-input-placeholder {
//  color: #888888;
//}
//:-moz-placeholder {
//  color: #888888;
//}
//:-moz-submit-invalid {
//  box-shadow: none;
//  outline-color: #A60A2D;
//}
//:-moz-ui-invalid {
//  box-shadow:none;
//  outline-color: #A60A2D;
//}
.info{
    &__button{
        padding: 0;
        border: 0;
        background-color: transparent;
        color: #A60A2D;
        text-decoration: underline;
        font-size: 1em;
        position: absolute;
        right: 0;
        top: -25px;
        &:hover{
            text-decoration: none;
            cursor: pointer; 
        }
        &:focus{
            outline: 1px dotted #A60A2D;
            outline-offset: 1px;   
        }
        &::-moz-focus-inner{
            border: 0;
        }
    }
    &__content{
        font-size: 1.1em;
        text-align: center;
    }
}