.nav{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 10px 0 0;
    display: flex;
    align-items: center;
    @media (max-width: 768px){
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }
    @media (max-width: 640px) {
        height: 100%;
        padding: 0;      
    }
    &__btn{    
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
        color: #FFFFFF;
        display: none;
        overflow: hidden;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline-color: #FFFFFF;
            outline-width: 1px;
            outline-style: dotted;
            outline-offset: -1px;
        }
        @media (max-width: 640px) {
            display: block;
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
        font-size: .9em;
        margin-top: 10px;
        @media (max-width: 640px) {
            width: 100%;
            display: none;
            font-size: 1.1em;
            &--open{
                margin-top: 0;
                padding-top: 20px;
                display: block;
                height: 100%;
                background: rgba(0,0,0,.7);
            }
        }
    }
}
.button__icon{
    font-size: 2em;
}
.menu{
    &__item{
        text-align: center;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgba(0,0,0,.5);
        margin-right: 50px;
        &--last{
            margin-right: 25px;
        }
        @media (max-width: 768px) {
            &--last{
                margin-right: 0;
            }
        }
        @media (max-width: 640px) {
            margin: 0 0 15px 0;
        }
    }
    &__link{
        text-decoration: none;
        color: #FFFFFF;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            display: block;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #FFFFFF;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
            transition: width .2s ease-in-out;
        }
        &:hover,
        &:focus{
            &:after{
                width: 100%;
            }
        }
    }
}
.no-js{
    @media (max-width: 640px) {
        .nav{
            height: auto;
            padding-top: 10px;
            &__btn{
                display: none;
            }
            &__menu{
                display: flex;
                font-size: .9em;
            }
        }
        .menu__item{
            margin: 0 50px 0 0;
            &--last{
                margin-right: 0;
            }
        }
    }
}