.projects__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 980px){
        justify-content: space-around;
    }
    @media (max-width: 640px){
        justify-content: center;
    }
}
.project__projects {
    width: 318px;
    margin-bottom: 12px;
    @media (max-width: 768px){
        margin-bottom: 2px;
    }
}
.photo__figure {
    position: relative;
}
.photo__repo-link {
    display: block;
    text-decoration: none;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
       
        background-color: rgba(166, 10, 45, .7);
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &:after{
        content: "";
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        width: 100px;
        height: 100px;
        
        background-image: url(../img/github.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &:hover,
    &:focus{
        &:before,
        &:after{
            opacity: 1;
        }
    }
}
.photo__caption{
    text-align: center;
    padding: 5px 0;
    color: #FFFFFF;
    background-color: rgb(166, 10, 45);
}