<article id="o-mnie" class="article" itemprop="author" itemscope itemtype="https://schema.org/Person">
    <h2 class="article__title">
        O mnie
    </h2>
    <div class="article__content">
        <p>
            Witaj! Nazywam się <a href="/" itemprop="url" class="article__url"><span itemprop="name">Kamil Kondratowicz</span></a> i pochodzę z małego miasteczka na Warmii &mdash; Ornety. W kwietniu tego roku skończyłem tutejsze technikum informatyczne i aktualnie kontynuuję naukę technologii frontendowych.
        </p>
        <p>
            Od dłuższego czasu interesuje się tworzeniem stron internetowych oraz językiem JavaScript. W swoich <a href="#projekty" class="article__url scroll">projektach</a> staram się zachować lekkość, prostotę i minimalizm. Nawet w najmniejszy projekt wkładam całego siebie. Moje postępy w nauce, różnorakie projekty, jak i styl pisania kodu można podejrzeć na <a href="https://github.com/xmentor" class="article__url">GitHubie</a>. Drobniejsze rzeczy, eksperymenty umieszczam na <a href="http://codepen.io/kkondratowicz/pens/public/" class="article__url">codpenie</a>.
        </p>
        <p>
            W wolnych chwilach udzielam się na <a href="https://forum.pasja-informatyki.pl" class="article__url">forum.pasja-informatyki.pl</a>, gdzie również zapraszam. Skontaktować się ze mną można poprzez wcześniej wymienione forum (<a href="https://forum.pasja-informatyki.pl/user/xmentor" class="article__url">mój profil</a>), <a href="https://www.facebook.com/kamil.kondratowicz.75" class="article__url">Facebooka</a>, <a href="#kontakt" class="article__url scroll">formularz kontaktowy</a> czy też poprzez e-maila: <a href="mailto:kontakt@kkondratowicz.pl" class="article__url"><span itemprop="email">kontakt@kkondratowicz.pl</span></a>.
        </p>
    </div>
</article>