<footer id="stopka" class="footer" itemscope itemtype="https://schema.org/WPFooter">
    <a href="#naglowek" class="footer__anchor scroll" title="Przejdź do początku strony">
        <span class="visuallyhidden">Przejdź do początku strony</span>
    </a>
    <div class="footer__cookies">
        Copyright &copy; <a href="/" class="footer__link">Kamil Kondratowicz</a>. Strona korzysta z <a href="http://wszystkoociasteczkach.pl/" class="footer__link">cookies</a>.
    </div>
</footer>
<script src="/js/scripts.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext">