<nav id="nawigacja" class="nav" itemscope itemtype="https://schema.org/SiteNavigationElement">
    <h2 class="visuallyhidden" itemprop="name">
        Menu
    </h2>
    <a href="#menu" id="menu-toggle" class="nav__btn">
        <img src="/img/menu.png" alt="Menu">
    </a>
    <ul id="menu" class="nav__menu menu">
        <li class="menu__item">
            <a href="#o-mnie" class="menu__link scroll">O mnie</a>
        </li>
        <li class="menu__item">
            <a href="#projekty" class="menu__link scroll">Projekty</a>
        </li>
        <li class="menu__item menu__item--last">
            <a href="#kontakt" class="menu__link scroll">Kontakt</a>
        </li>
    </ul>
</nav>