<article id="projekty" class="article">
    <h2 class="article__title">
        Projekty
    </h2>
    <div class="article__content projects">
        <ul class="projects__list project">
            @@loop('project/project.html', [
                {
                    "repo": "https://github.com/xmentor/mini_lightbox",
                    "name": "Mini Lightbox",
                    "thumbnail": "/img/projects/lightbox-thumbnail.png", 
                    "desc": "Prosty lightbox, pozwalający wyświetlać zdjęcia w większym rozmiarze. Przejdź do repozytorium na GitHubie.", 
                    "num": "1"
                },
                {
                    "repo": "https://github.com/xmentor/TodoList", 
                    "name": "TodoList",
                    "thumbnail": "/img/projects/todoList-thumbnail.png", 
                    "desc": "Prosta aplikacja do tworzenia listy zadań, aplikacja pisana w Vanilla JS, listę zadań można drukować. Przejdź do repozytorium na GitHubie.", 
                    "num": "2"
                },
                {
                    "repo": "https://github.com/xmentor/weather", 
                    "name": "Weather App",
                    "thumbnail": "/img/projects/weather-thumbnail.png", 
                    "desc": "Aplikacja wyświetlająca informacje o pogodzie w wybranym miejscu. Przejdź do repozytorium na GitHubie.", 
                    "num": "3"
                },
                {
                    "repo": "https://github.com/xmentor/duit", 
                    "name": "Duit", 
                    "thumbnail": "/img/projects/duit-thumbnail.png", 
                    "desc": "Aplikacja do tworzenia list zadań, pisana w React (dla nauki). Przejdź do repozytorium na GitHubie.", 
                    "num": "4"
                },
                {"repo": "", "name": "", "thumbnail": "", "desc": "", "num": "5"},
                {"repo": "", "name": "", "thumbnail": "", "desc": "", "num": "6"}
            ])
        </ul>
    </div>
</article>